@model FinanceManager.Model.Models.Batch

@{
    ViewData["Title"] = "Create";
}


<p>
    <a asp-action="MainBatchesPanel">Main Batches Panel</a>
</p>
<hr />
@*<div class="row">
    <div class="col-md-8">*@
<section>
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:center">Create a New Batch here</div>
                <div class="panel-body FormDesign">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*<div class="form-group row">
                            <label asp-for="CreatedOnDate" class="col-form-label col-md-2"></label>
                            <div class="col-md-4">
                                <input asp-for="CreatedOnDate" class="form-control" value="@DateTime.Today.ToString("dd/MM/yyyy")" />
                                <input asp-for="CreatedOnDate" class="form-control textBoxFormat datepicker" style = "display:inline;" placeholder ="DD/MM/YYYY"  />
                            </div>
                            <span asp-validation-for="CreatedOnDate" class="text-danger"></span>


                            @Html.LabelFor(model => model.CreatedOnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.CreatedOnDate, new { htmlAttributes = new { @class = "form-control textBoxFormat datepicker", @style = "display:inline;", placeholder = "DD/MM/YYYY" } })
                                    @Html.ValidationMessageFor(model => model.CreatedOnDate, "", new { @class = "text-danger" })
                                </div>
                        </div>*@
                        <div class="form-group row">
                            <label asp-for="CreatedBy" class="col-form-label col-md-2"></label>
                            <div class="col-md-4">
                                <input asp-for="CreatedBy" class="form-control" value="@User.Identity.Name" readonly="readonly"  />
                            </div>
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ShippersId" class="col-form-label col-md-2"></label>
                            <div class="col-md-4">
                                <select asp-for="ShippersId" class="form-control" asp-items="ViewBag.Shippers" readonly="readonly" ></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ActualBatch" class="col-form-label col-md-2"></label>
                            <div class="col-md-4">
                                <input id="ActualBatch" asp-for="ActualBatch" class="form-control" readonly="readonly" />
                            </div>
                            <span asp-validation-for="ActualBatch" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <input type="button" value="CreateNew" class="btn btn-primary" onclick="{new $pac.TripManagement.Shipper().NewBatch('ShippersId') }" />
                            </div>
                            <div class="col-md-2">
                                <input id="saveNewBatch" type="submit" value="Save" class="btn btn-primary" disabled="disabled" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#ActualBatch').on("change", function () {
            //    if ($('#ActualBatch').val()=="") {
            //        $('#saveNewBatch').prop('disabled', true);
            //    }
            //});
            DateTimePicker();
            $('#ActualBatch').keydown(function () {
                if ($('#ActualBatch').text() == "") {
                    $('#saveNewBatch').prop('disabled', true);
                }
            });
        });
        function DateTimePicker() {
            var d = new Date();
            $(".datepicker").datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: 'button',
                sideBySide: true,
                controlType: 'select',
                buttonText: '<span class="glyphicon glyphicon-calendar" ></span>',
                //minDate: '01/01/1950'
            });
        }
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/MyScripts/utilitiesJS.js"></script>
    <script src="~/lib/MyScripts/myScript.js"></script>
    <script src="~/lib/MyScripts/ManageTripJS.js"></script>
    <script src="~/lib/MyScripts/RecipientsJS.js"></script>
}
