@*@model IEnumerable<FinanceManager.Model.Models.TripDetails>*@
@model IEnumerable<FinanceManager.Model.Models.OrderStatusModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .textBoxFormatOrders {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        /*max-width: 280px;*/
    }

    .SendertextBoxFormat {
        display: block;
        width: 100% !important;
        height: 40px;
        /*padding: 2px 10px;*/
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 4px;
        /*max-width: 280px;*/
    }

    .chkBoxFormat {
        display: inline-block;
        width: 10% !important;
        height: 40px;
        /*padding: 5px 10px;*/
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        /*background-color: #fff;*/
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

<p>
    <a class="btn btn-primary" asp-action="MainTripsPanel" asp-controller="TripDetails">Main Trip Panel</a>
</p>
<h3 style="text-align:center;font-weight:600;color:steelblue">All Orders</h3>
<hr />
<input id="txtBatchId" type="hidden" name="name" value="" />
<div class="form-group row">
    <div class="col-sm-8">
        <label class="col-form-label col-sm-2">SearchItem</label>
        <input class="textBoxFormatOrders col-sm-3" type="text" id="SearchItem" value="" placeholder="enter search text" />
        <label class="col-form-label col-sm-2">All Batches</label>
        <input id="checkAllBatches" class="chkBoxFormat col-sm-1" type="checkbox" name="name" style="width:40px;height:40PX" onchange="{ new $pac.TripManagement.ClientOrder().UpdatAllBatchesVisible('checkAllBatches','batchUpdate') }" />@*All Batches*@
    </div>
    <div id="batchUpdate" class="col-sm-4" style="display:none;">
        <select id="seletBatch" class="textBoxFormatOrders col-sm-6">
            <option value="Select Status">Select Status</option>
            <option value="Created">Created</option>
            <option value="Charged">Charged</option>
            <option value="Picked">Picked</option>
            <option value="Shipped">Shipped</option>
            <option value="Ghana">Ghana</option>
            <option value="Delivered">Delivered</option>
            <option value="Completed">Completed</option>
        </select>
        <input type="button" name="name" value="UpdateStatus" class="btn btn-primary m-1" onclick="{new $pac.TripManagement.ClientOrder().UpdateAllTrips('checkAllBatches','batchUpdate') }" />
    </div>
</div>
<div>
    <table class="table table-hover" border="1">
        <thead style="background-color:steelblue;text-align:center;color:white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefNumber)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Batch.BatchId)
                </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>*@
                <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.GrandTotal)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.orderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Item)
                    </th>*@


                <th style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody id="itemTableBody" style="text-align:center;">
            @foreach (var item in Model)
            {
            <tr style="text-align:center;font-size:12px;background-color:snow">
                <td>
                    @Html.DisplayFor(modelItem => item.RefNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Batch.BatchId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.orderDate)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.GrandTotal)
        </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>

                @*<td>
            @Html.DisplayFor(modelItem => item.Item.ItemId)
        </td>*@


                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RefNumber">Update Status</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RefNumber">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchItem").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#itemTableBody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}


