@model FinanceManager.Model.Models.LinkCreator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinkCreator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqueString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
