@model IEnumerable< FinanceManager.Model.Models.TripDetails>
@{
    ViewData["Title"] = "ExistingOrders";
}

<h1>ExistingOrders</h1>

<table class="table w3-table" border="1">
    <thead style="background-color:teal;text-align:center;color:white">
        <tr style="text-align:center;">
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Sender.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.FirstName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ActualRef)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.AddressLineTwo)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.County)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Shippers)
                </th>*@
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody id="tabBodySender">
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.FirstName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ActualRef)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AddressLineTwo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Shippers.Vatnumber)
                    </td>*@
                <td style="text-align:center">
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TripId">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.SenderId">Details</a> |*@
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
